*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgb(209, 166, 26);
}
.main-div{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 0.5rem;
    box-shadow: 2px 2px 0px 2px rgb(0, 0, 0);
    background: white;
}
.image{
    padding: 20px;
}
.profile{
    padding: 15px;
    display: flex;
    gap: 0.7rem;
    h4{
        align-self: center;
    }
}
.heading{
    padding: 10px;
    background: orange;
    width: 15%;
    margin-left: 15px;
    border: 1px solid black;
    border-radius: 0.5rem;
}

.content{
    padding: 15px;
}
.main-heading{
    padding: 15px;
}
.para{
    padding: 15px;
}